<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Error</title>
    <link rel="stylesheet"
          href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
</head>
<body th:class="container">
    <div th:class="col-lg-12">
        <h1>
            An error occurred.
        </h1>
        <hr />
    </div>
    <div th:class="row">
        <p>An unexpected error occurred.</p>
    </div>
    <div th:class="row">
        <p style="color: red;" th:text="'ERROR: '  + ${error}">Error</p>
    </div>
    <div th:class="row">
        <p style="color: red;" th:text="'REASON: ' + ${message}">Error: </p>
    </div>
    <form th:action="@{/}"
          action="/">
        <input type="submit" th:class="btn + ' ' + btn-primary" value="Back to snacks lists" />
    </form>
</body>
</html>